@{
    ViewBag.Title = "Contact";
}

<h1>Peter George Alfred</h1>

<strong>
    Phone: 01227315759
</strong>

<address>
    <strong>Email:</strong>   <a href="mailto:pgalfred2014@hotmail.com">pgalfred2014@hotmail.com</a><br />
   
</address>