@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tenders Test Case</h1>
    @Html.ActionLink("Add Booklet", "index", "Booklets",  new { } ,  new  {@class = "btn btn-primary" })
 
</div>

